.card-item{
    width: 200px;
    padding: 30px;
    margin: 30px;
    font-size: 8px;
    background-color: rgb(73, 139, 231);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}
.Item-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    
}
.card-item{
    display: inline-block;
}
.card-li{
   list-style:none;
}
.card-title{
    text-align: center;
    color: white;
}
.Option{
    display: flex;
    color:white;
    font-size: 1rem;
}